<div class="login-container">

  <h2>Login</h2>

  <form (ngSubmit)="login()">

    <!-- Email -->
    <div>
      <label>Email</label>

      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>


    <!-- Password -->
    <div>
      <label>Password</label>

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>


    <!-- Login Button -->
    <button type="submit">
      Login
    </button>

  </form>


  <!-- Error Message -->
  <div
    *ngIf="errorMessage"
    class="error-message"
  >
    {{ errorMessage }}
  </div>


  <!-- Success Message -->
  <div
    *ngIf="message"
    class="success-message"
  >
    {{ message }}
  </div>

</div>